* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;   
}

.navbar {
    background: #272934;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;    
}

#navbar__logo {
    background-color: #272934;
    background-image: linear-gradient(to top, #ffffff 0%, #B8C3FF);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Source Code Pro';
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #A1A0A0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-family: 'Roboto Mono';
}

.navbar__links:hover {
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;  
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #141414;
    }
    
    .navbar__menu.active {
        background: #141414;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;      
    }
    .navbar__toggle .bar {
        width: 25px;
        height : 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #989899       
    }
    .navbar__item {
        width: 100%;        
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table; 
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%)
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;    
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);        
    }
    .navbar__toggle .bar:hover {
        background: white;
    }
}


/* Hero Section */

.main {
    background-color: #131313;
}
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #131313;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: white;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Roboto Light'
    
}


.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto Mono Thin';
    color: #9B9D9F;    
}

.inv_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #3994FF 0%, #3994FF 100%);
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: #fff;
    height: 56px;
    padding-right: 40px;
    padding-left: 40px;
    margin-inline-end: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.35s;
    outline: none;
}

.inv_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;

}

.inv_btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ED383B;
    transition: all 0.35s;
    border-radius: 15px 15px 15px 15px;
}

.inv_btn:hover {
    color: #fff;    
}

.inv_btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}


#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width:768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh
    }   

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .inv_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}

/* Features Section CSS */

.services {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7a 21%, #f99185 52%, #cf556c 78%, #b12b5b 100%);
    font-family: poppins;
    background-size: 100%;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-bottom: 50px;
}

.services__container {
    display: column;
    justify-content: center;
    /* flex-wrap: wrap; */
    color: white;
    font-size: 2rem;
    font-family: Roboto;
    background-color: #131313;
    padding-bottom: 2rem;

}

.services__card {
    padding-bottom: 4rem;
    padding-top: 4rem;
    
}

#left {
    display: column;
    text-align: left;
    padding-left: 1rem;
    padding-right: 5rem;
    margin-bottom: 50px;
    margin-right: 5rem;
    margin: 32px 0px;
    inline-size: 40rem;
}

#right {
    display: column;
    text-align: right;
    padding-left: 5rem;
    padding-right: 1rem;
    margin-bottom: 50px;
    margin-left: 5rem;
    margin: -32px 0px;
    /* inline-size: 40rem; */
}

#left h2 {
    font-size: 2rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
    padding-bottom: 8px;
}

#right h2 {
    font-size: 2rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
    padding-bottom: 8px;
}

#left p {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Roboto Mono Light';
}

#right p {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Roboto Mono Light';
    /* display: flex;
    justify-content: space-between;    */
}

.gt_start {
    font-size: 1rem;
    background-image: linear-gradient(to top, #3994FF 0%, #3994FF 100%);
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: #fff;
    height: 56px;
    padding-right: 40px;
    padding-left: 40px;
    margin-inline-end: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.35s;
    outline: none;
}

.gt_start a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;

}

.gt_start:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ED383B;
    transition: all 0.35s;
    border-radius: 15px 15px 15px 15px;
}

.gt_start:hover {
    color: #fff;    
}

.gt_start:hover:after {
    width: 100%;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;

}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1111;
}

/* Custom Scrollbar Shit */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #131313
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #FF5ADC 0%, #FF5AD6 0%, #FF5A9E 21%, #FF5A7F 52%, #cf556c 78%, #b12b5b 100%);
    border-radius: 100rem; /* idk */
    transition: all 0.5s ease-in; 
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #b12b5b 0%, #cf556c 10%, #FF5A7F 21%, #FF5A9E 52%, #FF5AD6 100%, #FF5ADC 100%);
    transition: all 0.5s ease-in; 
}
